{% extends "layout.html" %}
{% block title %} Welcome {{ current_user.username }} {% endblock %}
{% block page %}  Welcome {{ current_user.username }} {% endblock %}


{{ super() }}

{% block content %}
    <main class="container">

        <div class="card" >
          <div class="card-content">
            <span class="card-title"></span>
            <form name="addForm" method="POST" action="/createTodo">
              <div class="input-field">
               <textarea id="textarea1" class="materialize-textarea"></textarea>
              </div>
              <input class="btn purple black-text " type="submit" value="Add Post" />
              
            </form>
          </div>
        </div>
    </main>
{% endblock %}