{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block page %}Login{% endblock %}

{{ super() }}

{% block content %}
    <main class="container">
       <form class="card col s12" id="loginForm" method="POST" action="/login" style="padding:1em">

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" placeholder="user1" name="username" type="text" class="validate">
              <label for="icon_prefix">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
               <i class="material-icons prefix">lock</i>
              <input id="icon_password" name="password" type="password" class="validate">
              <label for="icon_password">Password</label>
            </div>
          </div>
          <div class="card-action">
            <input type="submit" class="purple text-black btn" value="Login">
          </div>

      </form>
    </main>
{% endblock %}